body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: lightskyblue; 
}

h1 {
    text-align: center;
    color: gold; 
}

h2 {
    text-align: center;
    color: darkblue;
}

p, ul, li {
    color: lightpink; 
}

.grocery-list, .other-needs {
    margin-bottom: 20px;
}

.grocery-list div, .other-needs div {
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="text"] {
    width: 250px; 
    margin-right: 10px;
}

button {
    background-color: darkblue; 
    color: white;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9; 
}

.header-bar {
    height: 10px;
    background-color: darkblue;
    margin-bottom: 15px; 
}
